.gallery{
    .inner{
        position: relative;
        min-height: 1000px;

        .loading{
            position: absolute;
            top: 350px;
            left: 50%;
            width: 500px;
            height: 500px;
            transform: translateX(-50%);
            transition: .5s;
            z-index: 0;

            &.off{
                opacity: 0;
            }
        }
        .title{
            margin-bottom: 100px;
            text-align: center;
            cursor: pointer;

            h1{
                font: bold 70px/1 "Arapey";
                color: #111;
                text-align: center;
            }
            span{
                display: inline-block;
                font: 600 12px/1 $font;
                color: #555;
                margin-left: 100px;
                position: relative;
    
                &::before{
                    content:'';
                    display: block;
                    width: 96px;
                    height: 1px;
                    background: #888;
                    position: absolute;
                    top: 50%;
                    left: -100px;
                }
            }
        }

        .search{
            width: 100%;
            text-align: center;
            margin-bottom: 80px;

            input{
                width: 80%;
                height: 50px;
                padding: 10px 20px;
                font: 500 18px/50px $font;
                color: #333;
                border-radius: 0;
                border: 1px solid #888;

                &:focus{
                    outline: none;
                }
                &::placeholder{
                    font: 500 16px/50px $font;
                    color: #888;
                }
            }
            button{
                width: 80px;
                height: 50px;
                font: 500 16px/50px $font;
                color: #888;
                background: #f1f1f1;
                border-radius: 0;
                border: 1px solid #888;
                vertical-align: top;
                cursor: pointer;

                &:hover{
                    color: #333;
                }
            }
        }
        .tab{
            width: 100%;
            margin-bottom: 50px;
            position: relative;

            &::after{
                content: '';
                display: block;
                clear: both;
            }
            li{
                float: left;
                width: 25%;
                border-top: 1px solid #333;
                border-bottom: 1px solid #333;
                border-right: 1px solid #333;

                &:last-child{
                    border-right: none;
                }
                a{
                    display: block;
                    padding: 15px 0;
                    font: 500 16px/1 $font;
                    text-transform: uppercase;
                    color: #888;
                    text-align: center;

                    &.on{
                        background: #f1f1f1;
                        color: #111;
                    }
                    &:hover{
                        color: #111;
                    }
                }
            }
        }
        .photos{
            width: 100%;
            position: relative;
            transition: .5s;
            transform: translateY(100px);
            opacity: 0;

            &.on{
                transform: translateY(0);
                opacity: 1;
            }
            &::after{
                content: '';
                display: block;
                clear: both;
            }
            li{
                float: left;
                width: 33.3%;
                padding: 0 20px;
                margin-bottom: 30px;
                border-right: 1px solid rgba(0,0,0,0.3);
                position: relative;

                &:nth-of-type(1), &:nth-of-type(2){
                    width: 50%;

                    a{
                        height: 350px;
                    }
                    h2{
                        font-size: 40px;
                    }
                }
                &:nth-of-type(3n+2){
                    border-right: none;
                }
                a{
                    display: block;
                    width: 100%;
                    height: 250px;
                    margin-bottom: 10px;
                    filter: saturate(10%);
                    transition: 1s;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &:hover{
                        filter: saturate(100%);
                    }
                }
                h2{
                    font: 26px/1 "Arapey";
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: #222;
                    border-bottom: 1px solid rgba(0,0,0,0.3);
                    padding-bottom: 10px;
                    margin-bottom: 15px;
                }
                h3{
                    font: 500 12px/1 $font;
                    color: #333;
                    text-transform: uppercase;
                    padding-bottom: 15px;
                    border-bottom: 1px solid rgba(0,0,0,0.3);
                    position: relative;

                    span{
                        color: #666;
                        font-weight: 500;
                        margin-left: 5px;
                    }
                    .id{
                        position: absolute;
                        right: 0;
                        color: #777;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

.pop{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 100px;
    background: rgba(0,0,0,0.8);
    z-index: 3;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    span{
        font: 500 16px/1 $font;
        color: #fff;
        position: absolute;
        top: 50px;
        right: 50px;
        cursor: pointer;
    }
}


@media screen and (max-width: $tablet) {
    
}

@media screen and (max-width: $tablet2) {
    .gallery{
        .inner{
            .photos{
                li{
                    width: 50%;

                    &:nth-of-type(1), &:nth-of-type(2){
                        a{
                            height: 250px;
                        }
                        h2{
                            font-size: 26px;
                        }
                    }
                    &:nth-of-type(3n+2){
                        border-right: 1px solid rgba(0, 0, 0, 0.3);
                    }
                    &:nth-of-type(2n){
                        border-right: none;
                    }
                    &:last-child{
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .gallery{
        .inner{
            .search{
                input{
                    width: 70%;
                    height: 40px;
                    line-height: 40px;
                }
                button{
                    width: 70px;
                    height: 40px;
                    line-height: 40px;
                }
            }
            .tab{
                li a{
                    font-size: 12px;
                }
            }
            .photos{
                li{
                    width: 100%;
                    border-right: none;

                    &:nth-of-type(1), &:nth-of-type(2){
                        width: 100%;
                    }
                    &:nth-of-type(3n+2){
                        border-right: none;
                    }
                }
            }
        }
    }
    .pop{
        padding: 100px 20px;
    }
}