.youtube{
    .inner{
        #vidGallery{
            width: 100%;

            &::after{
                content: '';
                display: block;
                clear: both;
            }
            h1{
                font: 120px/1 "Arapey";
                color: #111;
                text-align: center;
                letter-spacing: -5px;
                margin-bottom: 50px;

                span{
                    display: block;
                    font-size: 100px;
                    font-weight: normal;
                    color: #333;
                    font-style: italic;
                }
            }
            article{
                width: 50%;
                height: 550px;
                float:left;
                padding: 40px 0;
                border-bottom: 1px solid #333;
                border-right: 1px solid #333;
                position: relative;

                &:nth-of-type(1), &:nth-of-type(2){
                    border-top: 1px solid #333;
                }
                &:nth-of-type(2n){
                    padding-left: 40px;
                    border-right: none;
                }
                a{
                    display: block;
                    width: 60%;
                    height: 300px;
                    overflow: hidden;
                    margin-bottom: 30px;
                    border: 2px solid #111;
                    filter: grayscale(60%);
                    cursor: auto;
                    pointer-events: none;

                    img{
                        width: 100%;
                        height: 100%;
                        transform: scale(1.4);
                    }
                }
                h3{
                    width: 60%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font: 500 26px/1.2 "Zen Kaku Gothic Antique";
                    color: #333;
                    margin-bottom: 30px;
                }
                p{
                    width: 60%;
                    font: 500 14px/1.2 "Zen Kaku Gothic Antique";
                    color: #777;
                }
                .play{
                    position: absolute;
                    right: 30px;
                    bottom: 30px;
                    display: block;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    border: 1px solid #666;
                    cursor: pointer;
                    text-indent: -9999px;
                    font-size: 0;
                    transition: .6s;

                    i{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 16px;
                        text-indent: 0;
                        color: #555;
                        transition: .6s;
                    }
                    &:hover{
                        border-color: #222;
                        background: #222;

                        i{
                            color: #eee;
                        }
                    } 
                }
            }
        }
    }
}

.pop{
    iframe{
        object-fit: contain;
    }
}

@media screen and (max-width: $tablet) {
    .youtube{
        .inner{
            #vidGallery article{
                a{
                    width: 70%;
                }
                h3{
                    width: 70%;
                }
                p{
                    width: 70%;
                }
                .play{
                    width: 70px;
                    height: 70px;
                    right: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet2) {
    .youtube{
        .inner{
            #vidGallery{
                h1{
                    font-size: 70px;

                    span{
                        font-size: 60px;
                    }
                }
                article{
                    width: 100%;
                    border-right: none;
    
                    &:nth-of-type(2){
                        border-top: none;
                    }
                    &:nth-of-type(2n){
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .youtube{
        .inner{
            #vidGallery{
                h2{
                    margin-bottom: 30px;
                }
                article{
                    padding: 20px 0;
                    height: 500px;
    
                    a{
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    h3{
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    p{
                        width: 80%;
                    }
                    .play{
                        width: 50px;
                        height: 50px;
                        right: 0;
                        bottom: 20px;
                    }
                }
            }
        }
    }
}